.text-field{
    width: 100%;
    height: 100%;
}

.attribute{
    margin-right: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
}