<div class="container">
    <div class="header">
        <h3>Select a Project from the list:</h3>
        <p class="caption">Or Create a new one!</p>
    </div>

    <div class="project-list">
        <div *ngFor="let project of (this.projectList$|async)">
            <button mat-raised-button class="project" [routerLink]="['project']" [queryParams]="{'project': project}">
                {{project}}
            </button>
            <button mat-raised-button color="warn" (click)="removeProject(project)">Remove</button>
        </div>

        <button mat-stroked-button class="new-project" (click)="newProject()">
            <mat-icon>add_circle</mat-icon>
            Attach new project
        </button>
    </div>
</div>